/***/
/*{*/
/*    margin:0;*/
/*    padding: 0;*/
/*}*/
div.mainbox
{
    border: 1px solid black;
    width: 400px;
    margin: 50px auto;
}

h3.title
{
    padding-left: 2px;
    color: rgb(24, 14, 255);
    font-size: 14px;
    margin: 10px 0 12px 22px;
    font-weight: bolder;
}

.tip
{
    display: inline-block;
    width: 80px;
    height: 26px;
    text-align: right;
    font-weight: 550;
    font-size: 14px;
}

.box
{
    width: 162px;
    height: 20px;
    border:1.5px solid rgb(215, 215, 215);
    /*border-left-color: red;*/
    border-radius: 5px;
    text-indent: 6px;
}
input::-webkit-input-placeholder
{
    color:rgb(141, 141, 141);
}

span.required
{
    color: red;
}

.mainbox div
{
    margin: 0 0 10px 6px;
}

#capcha
{
    background-color: rgb(216, 183, 227);
    display: inline-block;
    width: 50px;
    height: 26px;
    cursor: pointer;
    color: rgb(48, 58, 247);
    font-style: italic;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
    line-height: 26px;
}
.nativeplace
{
    width: 82px;
    height: 23px;
    border:1.5px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding-left:6px;
}
#education
{
    width: 170px;
    height: 25px;
    border:1.5px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding-left:6px;
}
/*#intro*/
/*{*/
/*    line-height: 172px;*/
/*}*/


#change_capcha
{
    vertical-align: middle;
    width: 27px;
    cursor: pointer;
}